services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: sample_password
    volumes:
      - mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:sample_password@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    depends_on:
      - mongo

  backend:
    build:
      context: ./MongoBoard-Backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8080:8080
    environment:
      SPRING_MONGODB_HOST: mongo
      SPRING_MONGODB_PORT: 27017
      SPRING_MONGODB_DATABASE: mydb
      SPRING_MONGODB_USERNAME: root
      SPRING_MONGODB_PASSWORD: sample_password
      SPRING_MONGODB_AUTHENTICATION_DATABASE: admin
    depends_on:
      - mongo

  frontend:
    build:
      context: ./mongoboard-frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:80
    depends_on:
      - backend

volumes:
  mongo-data: